<div class='title signed-up'>
  <%= t('auth.title.signed_up') %>
</div>

<div class='signed-up-content'>
  <div class='email'>
    <%= @email %>
  </div>
  <div class='explanation'>
    <%= t('auth.explanation.signed_up') %>
  </div>
</div>