<li class='user-identity-data github'>
  <span class='icon'>
    <%= image_tag asset_url('github_logo.png') %>
  </span>
  <span class='service-name'><%= identity[:object].class.service_name %></span>
  <div>
    <% identity[:summary].each do |k, v| %>
      <p class='sentence'>
        <%= v[:sentence] %>
      </p>
      <p class='content'>
        <%= v[:contents][0] %>
      </p>
    <% end %>
  </div>
</li>
