<table class='user-identity-data github'>
  <tr>
    <td class='icon'>
      <%= image_tag Rails.application.config.app_domain + image_url('github_logo.png') %>
    </td>
    <td class='service-name'>
      <%= identity[:object].class.service_name %>
    </td>
  <tr>
  <% identity[:summary].each do |k, v| %>
    <tr>
      <td colspan='2'>
        <p class='sentence'>
          <%= v[:sentence] %>
        </p>
        <p class='content'>
          <%= v[:contents][0] %>
        </p>
      </td>
    </tr>
  <% end %>
</table>