<tr class='user'>
  <td class='user-info'>
    <%# image_tag user.gravatar_url(default: 'identicon') %>
  </td>
  <td class='user-identity'>
    <%= (identity[:object].name || identity[:object].email_key) %>
  </td>
  <td class='activity-count'>
    <span class='number'><%= identity[:summary].values.map(&:length).sum %></span>
    <%= t('summary_mailer.general.activities') %>
  </td>
</tr>
<tr class='user-identities-data-row'>
  <td class='user-identities-data' colspan='3'>
    <% if identity[:summary].size > 0 %>
      <%= render "summary_mailer/daily/user_identity", identity: identity %>
    <% end %>
  </td>
</tr>
