<table class="user-identity-data #{identity[:object].class.service_name.underscore}">
  <tr class='identity-header'>
    <td class='icon'>
      <%= image_tag Rails.application.config.app_domain + image_url("#{identity[:object].class.service_name.underscore}_logo.png") %>
    </td>
    <td class='service-name'>
      <%= identity[:object].integration.name %>
    </td>
  <tr>
  <% identity[:summary][0..(defined?(limit) ? (limit - 1) : -1)].each do |k, v| %>
    <tr class='identity-summary-row'>
      <td class='identity-summary' colspan='2'>
        <p class='sentence'>
          <%= v[:sentence] %>
        </p>
        <% v[:contents][0..(defined?(each_limit) ? (each_limit - 1) : -1)].each do |content| %>
          <p class='content'>
            <%= content %>
          </p>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>