<table class="user-identity-data #{identity[:object].class.service_name.underscore}">
  <tr class='identity-header'>
    <td class='icon'>
      <%= image_tag Rails.application.config.app_domain + image_url("#{identity[:object].class.service_name.underscore}_logo.png") %>
    </td>
    <td class='service-name'>
      <%= identity[:object].class.service_name %>
    </td>
  <tr>
  <% identity[:summary].each do |k, v| %>
    <tr class='identity-sumamry-row'>
      <td class='identity-summary' colspan='2'>
        <p class='sentence'>
          <%= v[:sentence] %>
        </p>
        <p class='content'>
          <%= v[:contents][0] %>
        </p>
      </td>
    </tr>
  <% end %>
</table>