<tr class='user'>
  <td class='user-info'>
    <%= image_tag user.gravatar_url(default: 'identicon') %>
    <%= user_team.identity %>
  </td>
</tr>
<tr class='user-identities-data-row'>
  <td class='user-identities-data'>
    <% identities.map do |identity| %>
      <% if identity[:summary].size > 0 %>
        <%= render "summary_mailer/daily/user_identity", identity: identity %>
      <% end %>
    <% end %>
  </td>
</tr>
