<table class="identity #{identity[:object].class.service_name.underscore}">
  <tr class='header'>
    <td class='icon'>
      <%= image_tag Rails.application.config.app_domain + image_url("#{identity[:object].class.service_name.underscore}_logo.png") %>
    </td>
    <td class='service'>
      <%= identity[:object].integration.name %>
    </td>
  <tr>
  <% identity[:summary].each_with_index do |obj, index| %>
    <% if !defined?(limit) || index < limit %>
      <tr class='summary-row'>
        <td class='summary' colspan='2'>
          <p class='sentence'>
            <%= obj[1][:sentence] %>
          </p>
          <% obj[1][:contents][0..(defined?(each_limit) ? (each_limit - 1) : -1)].each do |content| %>
            <p class='content'>
              <%= content %>
            </p>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>