<div id='daily-mail'>
  <table>
    <tbody>
      <tr>
        <td>
          <div>
            <%= image_tag @presenter.graph[:image].presence || image_url("welcome_bg.png"), class: 'main-graph' %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class='legends'>
            <%= @presenter.graph[:legends].html_safe %>
          </div>
          <table id='users-list'>
            <% @presenter.users.map do |user| %>
              <%= render 'summary_mailer/daily/user', user_team: user[:user_team], user: user[:user_team].user, identities: user[:identities] %>
            <% end %>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <div class='invite-instruction'>
            <p class='center'>
              Can't you see your team member on this mail?
            </p>

            <p class='center'>
              <%= link_to 'Invite another member', webapp_path(path: "users/invitations/new"), class: 'main-button', target: '_blank' %>
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>