<table>
  <tbody><tr>
    <td valign="top">
      <div style="padding:0 12px">
        <%= image_tag @graph[:image], size: "600x300" %>
        <%= @graph[:legends].html_safe %>
        <%= @presenter.text %>
      </div>
    </td>
  </tr></tbody>
</table>