<div id='daily-mail'>
  <table>
    <tbody><tr>
      <td valign="top">
        <div style="padding:0 12px">
          <%= image_tag @presenter.graph[:image], size: "600x300" %>
          <div class='legends'>
            <%= @presenter.graph[:legends].html_safe %>
          </div>
          <table id='users-list'>
            <% @presenter.users.map do |user| %>
              <%= render 'summary_mailer/daily/user', user_team: user[:user_team], user: user[:user_team].user, identities: user[:identities] %>
            <% end %>
          </table>
        </div>
      </td>
    </tr></tbody>
  </table>
</div>