<table>
  <tbody><tr>
    <td valign="top">
      <div style="padding:0 12px">
        <div style="padding:2rem;">
          <h2>You're invited</h2>
        </div>
        <%= @presenter.text %>
      </div>
    </td>
  </tr></tbody>
</table>