<table>
  <tbody><tr>
    <td valign="top">
      <div style="padding:2rem;">
        <h2>Hi!</h2>

        <p>
          Thank you for signing up for Piersky. Click the link below to get your team set up:
        </p>

        <p class='center' style="margin:2rem 0">
          <%= link_to 'Get started', confirmation_url(@resource, confirmation_token: @token), class: 'main-button', target: '_blank' %>
        </p>

        <p class='center bold'>
          Your sign up email is:
        </p>

        <p class='center'>
          <%= link_to confirmation_url(@resource, confirmation_token: @token), confirmation_url(@resource, confirmation_token: @token) %>
        </p>

        <hr />

        <p class='center message light-color' style="margin:0 auto 1rem;max-width:320px;word-break:break-word">Link not working? Try copying
          <%= link_to confirmation_url(@resource, confirmation_token: @token), confirmation_url(@resource, confirmation_token: @token) %>
        </p>
      </div>
    </td>
  </tr></tbody>
</table>