/* background */
$BACKGROUND: -1;

/* toggle */
$TOGGLE: 4000;
$OVER_TOGGLE: 4010;

/* tab */
$TAB: 8000;

/* main menu */
$MAIN_MENU_Z: 12000;

/* notification-message */
$NOTIFICATION_MESSAGE_Z: 14000;

/* header */
$HEADER_Z: 16000;

/* balloon */
$BALLOON: 20000;

/* modal */
$MODAL_OVERLAY: 24000;
$MODAL: 25000;



