/* background */
$BACKGROUND: -1;

/* toggle */
$TOGGLE: 4000;
$OVER_TOGGLE: 4010;

/* tab */
$TAB: 8000;

/* right-sidebar */
$RIGHT_SIDEBAR: 10000;

/* left-sidebar */
$LEFT_SIDEBAR: 11000;

/* notification-message */
$NOTIFICATION_MESSAGE_Z: 14000;

/* header */
$HEADER_Z: 16000;

/* balloon */
$BALLOON: 20000;

/* modal */
$MODAL_OVERLAY: 24000;
$MODAL: 25000;



