@import 'globals/config-loader';
@import 'modules/center_container';

.integrations-board .container-main {
  .objs-container {
    .obj {
      margin: 10px;
      padding: 10px;
      background-color: $lightblue50;
      h3 {
        font-size: 24px;
      }
    }
    .add-button {
      margin: 10px;
      padding: 5px;
      .icon-area {
        display: inline;
      }
      background-color:$grey200;

      font-size: 28px;
    }
  }
  ul{
    padding-top: 30px;
    padding-bottom: 200px;
    border-right: 1px solid $grey300;
    a.active {
      li {
        background-color: $blue50;
      }
    }
    li {
      position: relative;
      padding: 10px 15px 10px 45px;
      color: $grey700;
      cursor: pointer;
      @include lato-normal;
      font-size: 17px;

      &:hover {
        background-color: $grey50;
      }
      .icon-area {
        position: absolute;
        top: 11px;
        left: 10px;
        span.icon {
          @include icon(20px, 20px);
        }
      }
    }
  }
}

