@import 'globals/config-loader';
@import 'modules/center_container';

.integrations-board {
  height: 100%;
  position: relative;
  padding: 0 15px 0 0;
  min-width: 1080px;
  .container-left {
    width: 260px;
    float: left;
  }
  .container-main {
    position: relative;
    float: right;
    width: -webkit-calc(100% - 300px);
    width: -moz-calc(100% - 300px);
    width: calc(100% - 300px);
    p{
      &.title {
        padding: 20px 0;
        @include lato-thin;
        font-size: 36px;
        a.title-right {
          float: right;
          margin-right: 10px;
        }
      }
      &.subtitle {
        padding: 5px 0;
        @include lato-thin;
        font-size: 24px;
        span {
          margin-right: 10px;
        }
      }
      &.description {
        padding-bottom: 20px;
        margin-left: 20px;
        display: inline-block;
        @include lato-thin;
        font-size: 16px;
        color: $grey600;
      }
    }
  }
}
