@import 'globals/config-loader';
@import 'modules/center_container';

.integrations-setting {
  position: relative;
  .icon-area {
    position: absolute;
    top: 10px;
    display: inline-block;
    .icon {
      @include icon(30px, 30px);
    }
  }
  .title {
    padding-top: 0 !important;
    margin-left: 45px;
    display: inline-block;
  }
  .actions {
    margin-left: 40px;
    display: inline-block;
    .icon {
      color: $grey500;
      font-size: 24px;
      &:hover {
        color: $grey700;
      }
    }
  }
}
