@import 'globals/config-loader';
@import 'modules/center_container';

.integration-statistics {
  padding: 20px 0;

  #main_graph .no-activities {
    padding-top: 100px;
    text-align: center;
    @include lato-ultrabold;
    font-size: 24px;
    color: $grey400;
  }
}
