@import 'globals/config-loader';
@import 'modules/center_container';

#react_container {
  height: 100%;
  width: 100%;
  padding-top: $HEADER_HEIGHT;
}

.container {
  @include center-container;
  padding: 0 15px;
}

.clear-fix {
  clear: both;
}