@import 'globals/config-loader';
@import 'modules/center_container';
@import 'modules/list_table';
@import "modules/sky_flat_button";

.home {
  height: 100%;
  position: relative;
  padding: 20px;
  min-width: 1080px;
  p{
    &.title {
      padding: 20px 0;
      @include lato-thin;
      font-size: 36px;
      a.title-right {
        float: right;
        margin-right: 10px;
      }
    }
    &.subtitle {
      padding: 0 0 20px;
      @include lato-thin;
      font-size: 20px;
      span {
        margin-right: 10px;
      }
    }
    &.description {
      margin-left: 20px;
      display: inline-block;
      @include lato-thin;
      font-size: 16px;
      color: $grey600;
    }
  }
  .team-summary {
    @include list-table-expandable;
    margin-bottom: 150px;

    .summary {
      .panel {
        display: inline-block;
        cursor: pointer;
        margin: 15px 0 10px 10px;
        &:first-child {
          margin: 15px 0 10px 0;
        }
        width: 160px;
        border-right: 1px solid $grey400;
        .name {
          @include lato-normal;
          font-size: 15px;
        }
        .number {
          margin: 5px 0;
          @include lato-thin;
          font-size: 20px;
          color: $grey800;
        }
      }
    }

    .option, .option-header {
      .content-area {
        .icon-area {
          display: table-cell;
          width: 60px;
          text-align: center;
          vertical-align: middle;
          .icon {
            @include icon(30px, 58px);
          }
        }
        .name {
          @include lato-normal;
          @include text-ellipsis;
          display: table-cell;
          font-size: 16px;
          width: 180px;
          vertical-align: middle;
          a {
            color: $grey600;
          }
          &:hover {
            text-decoration: underline;
          }
        }
        .activity-count {
          display: table-cell;
          width: 108px;
          text-align: right;
          vertical-align: middle;
        }
        .user-graph {
          display: table-cell;
          vertical-align: middle;
          &.recent {
            @include lato-normal;
            line-height: 58px;
            font-size: 16px;
            text-align: center;
            .icon {
              @include icon(30px, 30px);
              margin: 0px 20px 0px 40px;
            }
          }
        }
        .user-identities {
          display: table-cell;
          vertical-align: middle;
          padding: 5px 30px 10px;

          .user-identity {
            display: inline-block;
            vertical-align: top;
            width: 45%;
            margin-right: 20px;
            position: relative;
            .user-identity-inner {
              padding: 6px 10px;
              max-height: 120px;
              overflow: hidden;
              .header {
                padding-bottom: 5px;
                .icon {
                  @include icon(20px, 20px);
                  vertical-align: middle;
                }
                .title {
                  padding-left: 8px;
                  @include lato-normal;
                  font-size: 18px;
                  vertical-align: middle;
                }
                .count {
                  float: right;
                  vertical-align: middle;
                  font-size: 20px;
                  color: $grey700;
                }
              }
              .body {
                @include lato-normal;
                overflow: scroll;
                .activity {
                  .sentence {
                    font-size: 16px;
                    color: $grey700;
                    padding-bottom: 4px;
                  }
                  .contents {
                    font-size: 13px;
                    color: $grey800;
                    padding-left: 5px;
                    line-height: 1.1;
                    @include text-ellipsis;
                  }
                }
                .no-activity {
                  font-size: 16px;
                  color: $grey700;
                }
              }
            }
            .user-identity-grad {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              height: 10px;
              @include linear-gradient(rgba(255,255,255,0), $white);
            }
          }
        }
        .view-detail {
          display: table-cell;
          width: 130px;
          vertical-align: middle;
          button {
            @include flat-button-identity;
          }
        }
      }
    }
    .option-header {
      .content-area {
        .name {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
