@import "globals/config-loader";

#daily-mail {
  .legends {
    ul {
      list-style-type: none;
      padding-left: 0px;
      li {
        display: inline-block;
        color: $grey700;
        font-size: 16px;
        vertical-align: middle;
        span {
          width: 20px;
          height: 20px;
          margin-right: 5px;
          margin-left: 5px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

  table#users-list {
    margin-top: 20px;
    tr.user {
      td.user-icon {
        width: 50px;
        .simple-user-icon {
          @include coloring-back;
          display: inline-block;
          border-radius: 4px;
          height: 36px;
          width: 36px;
          vertical-align: middle;
          position: relative;
          img {
            border-radius: 4px;
            width: 36px;
            height: 36px;
            position: absolute;
            z-index: 1;
          }
          .icon-char {
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            line-height: 36px;
            font-size: 24px;
            vertical-align: middle;
            text-align: center;
            position: absolute;
            z-index: 0;
            color: $white;
          }
        }
      }
      td.user-name {
        font-size: 17px;
        color: $grey600;
        vertical-align: middle;
      }
    }
    tr.user-identities-data-row {
      td.user-identities-data {
        padding-top: 10px;
        padding-bottom: 15px;
        table.user-identity-data {
          td.icon {
            width: 40px;
            img {
              display: inline-block;
              width: 24px;
              height: 24px;
              vertical-align: middle;
            }
          }
          td.service-name {
            margin: 0px;
            line-height: 24px;
            font-size: 16px;
            margin-left: 6px;
            vertical-align: middle;
            color: $grey800;
          }
          td.identity-summary {
            padding-left: 10px;
            p.sentence {
              margin: 0;
              font-size: 16px;
              color: $grey700;
            }
            p.content {
              margin: 0;
              padding-left: 10px;
              font-size: 14px;
              color: $grey600;
            }
          }
        }
      }
    }
  }
}