@import "globals/config-loader";

#daily-mail {
  .legends {
    padding-top: 10px;
    ul {
      list-style-type: none;
      padding-left: 0px;
      li {
        padding-left: 10px;
        display: inline-block;
        color: $grey700;
        font-size: 16px;
        line-height: 20px;
        vertical-align: middle;
        span {
          display: inline-block;
          width: 14px;
          height: 14px;
          margin: 0px 5px;
        }
      }
    }
  }

  table#users-list {
    margin-top: 20px;
    tr.user {
      td.user-info {
        img {
          display: inline-block;
          border-radius: 4px;
          width: 36px;
          height: 36px;
          margin-right: 10px;
        }
        font-size: 17px;
        line-height: 36px;
        color: $grey600;
        vertical-align: middle;
      }
    }
    tr.user-identities-data-row {
      td.user-identities-data {
        padding: 15px 0 15px 10px;
        table.user-identity-data {
          tr.identity-header {
            padding: 6px 0;
            height: 40px;
            td.icon {
              width: 36px;
              vertical-align: middle;
              img {
                display: inline-block;
                width: 24px;
                height: 24px;
                vertical-align: middle;
              }
            }
            td.service-name {
              margin: 0px;
              line-height: 24px;
              font-size: 16px;
              margin-left: 6px;
              vertical-align: middle;
              color: $grey800;
            }
          }
          tr.identity-summary-row {
            td.identity-summary {
              padding-left: 15px;
              p.sentence {
                margin: 0;
                font-size: 16px;
                color: $grey700;
              }
              p.content {
                margin: 0;
                padding-left: 10px;
                font-size: 14px;
                color: $grey600;
              }
            }
          }
        }
      }
    }
  }
}