@import 'themes/webapp/users/user_icon';

#daily-mail {
  .legends {
    ul {
      list-style-type: none;
      padding-left: 0px;
      li {
        display: inline-block;
        color: $grey700;
        font-size: 16px;
        vertical-align: middle;
        span {
          width: 20px;
          height: 20px;
          margin-right: 5px;
          margin-left: 5px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

  #users-list {
    margin-top: 20px;
    .user {
      .user-icon {
        width: 50px;
      }
      .user-name {
        font-size: 18px;
        color: $grey600;
      }
      .user-identities-data {
        margin-top: 15px;
        .user-identity-data {
          img {
            &.icon {
              display: inline-block;
              width: 24px;
              height: 24px;
              vertical-align: middle;
            }
          }
          .service-name {
            margin: 0px;
            line-height: 24px;
            font-size: 16px;
            margin-left: 6px;
            vertical-align: middle;
            color: $grey800;
          }
          .sentence {
            margin: 0;
            font-size: 16px;
            color: $grey700;
          }
          .content {
            margin: 0;
            padding-left: 10px;
            font-size: 14px;
            color: $grey600;
          }
        }
      }
    }
  }
}