
/* Template styling */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  max-width: 100%;
  font-size: 17px;
  line-height: 24px;
  color: #212121;
  table {
    width: 100%;
    margin: 0 auto;
  }
  div {
    max-width: 600px;
    margin: 0 auto;
  }
  .title-link {
    text-decoration: none;
  }
  .title {
    padding: 10px 0;
    text-align: center;
  }
  h1, h2, h3, h4 {
    color: #EF6C00;
    margin-bottom: 12px;
  }
  p, ul, ul li {
    font-size: 17px;
  }
  ul {
    margin-bottom: 24px;
    padding-left: 0px;
    list-style-type: none;
  }
  ul li {
    margin-bottom: 8px;
  }
  p {
    &.mini {
      font-size: 12px;
      line-height: 18px;
      color: #ABAFB4;
    }
    &.message {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 4px;
    }
    &.center {
      text-align: center;
    }
    &.bold {
      font-weight: bold;
    }
    &.light-color {
      color: #aaa;
    }
  }
  hr {
    margin: 2rem 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #e0e0e0;
  }
  a {
    font-weight: bold;
    color: #439fe0;
    text-decoration: none;
  }
  a {
    &.main-button {
      display: inline-block;
      padding: 14px 32px;
      background: #EF6C00;
      border-radius: 4px;
      font-weight: normal;
      letter-spacing: 1px;
      font-size: 20px;
      line-height: 26px;
      color: white;
      text-decoration: none;
    }
  }
  .time {
    font-size: 11px;
    color: #ABAFB4;
    padding-right: 6px;
  }
  .identity-color {
    color: #1976d2 !important;
  }
  #mail-footer p {
    margin-top: 16px;
    font-size: 12px;
  }
}