<div id='main_container'>
  <div class='internal-server-error'>
    <p class='code'><%= t('http_status.internal_server_error.code') %></p>
    <p class='title'><%= t('http_status.internal_server_error.main') %></p>
    <p class='explanation'><%= t('http_status.internal_server_error.explanation') %></p>
  </div>
</div>