<div id='main_container'>
  <div class='not-found'>
    <p class='code'><%= t('http_status.not_found.code') %></p>
    <p class='title'><%= t('http_status.not_found.main') %></p>
    <p class='explanation'><%= t('http_status.not_found.explanation') %></p>
  </div>
</div>