.wunderlist-logo {
  background-size: contain;
  background-image: image-url('wunderlist_logo.png');
}

.asana-logo {
  background-size: contain;
  background-image: image-url('asana_logo.jpg');
}

.github-logo {
  background-size: contain;
  background-image: image-url('github_logo.png');
}

.slack-logo {
  background-size: contain;
  background-image: image-url('slack_logo.png');
}
