@import "globals/config-loader";
@import "modules/list_selector";

@mixin list-table-expandable($height: 58px) {
  padding: 0;
  width: 100%;

  .option-header, .option, .option-expandable {
    position: relative;
    cursor: default;
    margin-bottom: 0px;
    padding: 0;

    .content-area {
      height: $height;
      vertical-align: middle;
      p {
        display: inline-block;
        padding: 0 10px;
        line-height: $height;
        vertical-align: middle;
        &.main-content {
          @include lato-normal;
          font-size: 16px;
        }
        &.sub-content {
          @include lato-thin;
          font-size: 16px;
          color: $grey500;
        }
      }
      .right-content {
        float: right;
        display: inline-block;
      }
      .user-info-container {
        $user-info-container-height: 44px;
        margin-top: ($height - 44px) / 2;
      }
    }
    .right-area {
      height: $height;
      line-height: $height;
      vertical-align: middle;
    }
  }

  .option-header {
    border-bottom: 2px solid $grey500;
  }

  .option, .option-expandable {
    border-bottom: 1px solid $grey300;
  }

  .option-expandable {
    &:hover {
      background-color: $SELECTED;
    }
    &.expanded {
      background-color: $SELECTED;
      &:hover {
        background-color: $SELECTED;
      }
    }
    .toggle {
      cursor: pointer;
      position: absolute;
      height: $height;
      width: 100%;
    }
  }
}

.list-table {
  @include list-table-expandable;
}

.list-table-expandable {
  @include list-table-expandable;
}