@import "globals/config-loader";

@mixin sky-tab {
  $BORDER_COLOR: $grey200;
  $TAB_MIN_WIDTH: 720px;
  background-color: $grey100;
  ul.sky-tab-list {
    min-width: $TAB_MIN_WIDTH;
    height: 50px;
    list-style-type: none;
    padding: 0;
    a {
      li.sky-tab {
        height: 33px;
        box-sizing: content-box;
        position: relative;
        z-index: $TAB;
        display: inline-block;
        padding: 15px 15px 0;
        font-size: 15px;
        @include lato-normal;
        color: $grey500;

        &:hover {
          text-decoration: underline;
        }
      }

      &.active {
        li.sky-tab {
          color: $grey800;
          cursor: default;
          border-bottom: 2px solid $blue500;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .sky-tab-panel {
    width: 100%;
    min-width: $TAB_MIN_WIDTH;
    background-color: $white;
    border-top: 1px solid $BORDER_COLOR;
    z-index: $TAB;
  }
}

.sky-tab-area {
  @include sky-tab;
}
