@import "globals/config-loader";

.sky-balloon-anchor-area {
  position: relative;
  display: inline-block;
  cursor: pointer;
  .sky-balloon-anchor {
    position: absolute;
    width: 0px;
    height: 0px;
    right: 0;
    top: 10px;
  }
}

.sky-balloon-container {
  .sky-balloon {
    position: fixed;
    z-index: $BALLOON;
    top: 0;
    left: 0;
    @include box-shadow(0, 0, 3px, 1px, $grey400);
    background-color: $white;
    border-radius: 5px;
    min-width: 200px;
    max-width: 400px;
  }
}