@import "globals/config-loader";

/**
 * buttons
 */

@mixin flat-button-base {
  position: relative;
  @include lato-normal;
  display: inline-block;
  line-height: 18px;
  margin-bottom: 0;
  padding: 5px 20px 5px;
  border: 1px solid $white;
  border-radius: 4px;
  background-repeat: repeat-x;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;

  span {
    margin: 0;
    padding: 0;
  }

  &:active,
  &:focus,
  &:visited {
    outline: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    /* クリック時のstyle */
    @include box-shadow(0, 1px, 2px, 0, $grey800 inset);
  }

  &.disabled,
  &:disabled {
    border-color: $grey400;
    border-bottom-color: $grey500;
    background-color: $grey400;
    color: $white;
    cursor: default;
    &:hover {
      border-color: $grey400;
      border-bottom-color: $grey500;
      background-color: $grey400;
      color: $white;
    }
  }
}

@mixin flat-button-normal {
  @include flat-button-base;
  @include lato-normal;
  font-size: 14px;
  &:disabled {
    @include lato-thin;
  }
  background-color: $grey100;
  border: 1px solid $grey500;
  border-radius: 3px;
  color: $grey900;

  &:hover, &:active {
    background-color: $grey50;
    color: $grey900;
  }
}

.flat-button-normal {
  @include flat-button-normal;
}

@mixin flat-button-outline {
  @include flat-button-base;
  @include lato-thin;

  border: 1px solid;
  color: $white;
  &:hover {
    border: 1px solid;
    color: $white;
  }
}

@mixin flat-button-identity {
  @include flat-button-outline;
  font-size: 16px;
  border-color: lighten($IDENTITY_COLOR, 5);
  background-color: lighten($IDENTITY_COLOR, 5);
  &:hover, &:active {
    border-color: lighten($IDENTITY_COLOR, 10);
    background-color: lighten($IDENTITY_COLOR, 10);
  }
}

.flat-button-identity {
  @include flat-button-identity;
}

@mixin flat-button-red {
  @include flat-button-outline;
  font-size: 16px;
  border-color: lighten($red500, 5);
  background-color: lighten($red500, 5);
  &:hover, &:active {
    border-color: lighten($red500, 10);
    background-color: lighten($red500, 10);
  }
}

.flat-button-red {
  @include flat-button-red;
}
