<p class='center'>
  Made by <%= link_to 'PierSky', root_url, class: 'identity-color' %>
</p>
<p class='center'>
  <%= t('mail.unsubscribe') %>
</p>
<p class='center'>
  <%= t('mail.unsubscribe_explanation') %>
</p>
