<table>
  <tbody>
    <tr>
      <td>
        <div id="mail-footer">
          <p class='center'>
            Made by <%= link_to 'Piersky, Inc', root_url, class: 'identity-color' %>
          </p>
        </div>
      </td>
    </tr>
  </tbody>
</table>
