<table>
  <tbody>
    <tr>
      <td valign="top" align="center" style="padding:16px 8px 24px">
        <div id="mail-footer">
          <p>
            Made by <%= link_to 'Piersky, Inc', root_url, class: 'identity-color' %>
          </p>
        </div>
      </td>
    </tr>
  </tbody>
</table>
