@import 'globals/config-loader';

.statistics-slack {
  .users-stat {
    .content-area {
      .total, .avg {
        width: 80px;
        text-align: right;
      }
      .user-graph {
        display: inline-block;
        height: 100%;
        width: 400px;
        vertical-align: middle;
      }
    }
  }
}