@import 'globals/config-loader';

.statistics-slack {
  .users-stats {
    .content-area {
      .total, .avg {
        display: table-cell;
        width: 80px;
        text-align: right;
      }
      .user-graph {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}