@import 'globals/config-loader';
@import 'modules/center_container';

.users-board .user-show {
  .title {
    .simple-user-icon {
      margin-right: 20px;
    }
  }
  .sky-tab-area .sky-tab-panel {
    .section-title {
      @include lato-normal;
      font-size: 24px;
      padding: 0;
      color: $grey700;
    }
  }
}