@import 'globals/config-loader';
@import 'modules/center_container';

.user-statistics {
  padding: 20px 0;

  .graph-action {
    margin-bottom: 20px;
  }
  #main_graph {
    width: 100%;
    height: 320px;
    .no-activities {
      padding-top: 100px;
      text-align: center;
      @include lato-ultrabold;
      font-size: 24px;
      color: $grey400;
    }
  }
  .user-identities {
    padding-top: 30px;
  }
}