@import 'globals/config-loader';
@import 'modules/center_container';

.user-statistics {
  padding: 20px 0 150px;

  .graph-action {
    margin-bottom: 20px;
  }
  #main_graph {
    width: 100%;
    height: 320px;
    .no-activities {
      padding-top: 100px;
      text-align: center;
      @include lato-ultrabold;
      font-size: 24px;
      color: $grey400;
    }
  }
  .user-identities {
    .user-identity {
      padding: 20px 0;
      .user-identity-inner {
        padding: 6px 10px 0;
        max-height: 400px;
        overflow: hidden;
        .header {
          height: 40px;
          padding-bottom: 5px;
          position: relative;
          .icon {
            @include icon(24px, 24px);
            vertical-align: middle;
          }
          .title {
            display: inline-block;
            max-width: 80%;
            @include text-ellipsis;
            @include lato-normal;
            padding-left: 8px;
            margin-right: 20px;
            font-size: 20px;
            vertical-align: middle;
          }
          .count {
            display: inline-block;
            font-size: 24px;
            color: $grey700;
            vertical-align: middle;
          }
        }
        .body {
          width: 100%;
          max-height: 360px;
          padding: 0 10px;
          @include lato-normal;
          overflow-x: hidden;
          overflow-y: scroll;
          display: inline-block;
          .activity {
            .sentence {
              font-size: 18px;
              color: $teal900;
              padding: 10px 0 4px;
            }
            .contents {
              font-size: 16px;
              color: $grey800;
              padding: 0 4px 0 15px;
              @include sans-normal;
            }
          }
          .no-activity {
            font-size: 18px;
            color: $grey700;
            padding: 10px 0 4px;
          }
        }
      }
    }
  }
}