<% if I18n.locale == :ja %>

<p>ようこそ<%= @email %></p>

<p>以下のリンクにて、このアカウントのメールアドレス認証が完了します:</p>

<p><%= link_to 'アカウント認証', confirmation_url(@resource, confirmation_token: @token) %></p>

<% else %>

<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<% end %>